<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- 
  아톰과 할일
  1. 요일별 질문 채우기
  2. 제목에 분야(BE/FE) 및 주차 채우기
  3. 설정 링크에 이메일 토큰 채워넣기
  -->

  <title>매일 메일</title>
</head>
<body style="margin: 0; padding: 0">
  <section class="mail-preview" aria-hidden="true">
    <span
      style="display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
      이번주 질문이 도착했습니다.
    </span>
    <span
      style="display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
      &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp;
      &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj;
      &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy;
      &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp;
      &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj;
      &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy;
      &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp;
      &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy;
      &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp;
      &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj;
      &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy;
      &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp;
      &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy;
      &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp;
      &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy;
      &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp;
      &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj;
      &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy;
      &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp;
      &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj;
      &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy;
      &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp;
      &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj;
      &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy;
      &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp;
      &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy; &zwnj; &nbsp; &shy;
    </span>
  </section>

  <div style="
        height: 100%;
        width: 100%;
        font-family: Arial, sans-serif;
        padding: 16px;
      ">
    <div style="
          background-color: #ffffff;
          padding: 40px;
          border-radius: 8px;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          text-align: center;
          max-width: 400px;
          width: 100%;
          margin: 0 auto;
        ">

      <a href="https://www.maeil-mail.kr/" style="
            display: block;
            margin-bottom: 40px;
            text-decoration: none;
            width: 5.5rem;
            font-weight: bold;
          ">
        <p style="color: #00a86b; text-align: start; font-size: 1rem;">매주메일</p>
      </a>
      <h1 style="font-size: 18px; font-weight: 600; margin-bottom: 20px" th:text="${분야및몇주차}">
        BE 11월 2주차 질문
      </h1>
      <div style="
            padding: 0 20px;
            text-align: left;
          ">
        <p style="
              background-color: #F5FAF8;
              font-size: 15px;
              color: #2b2b2b;
              line-height: 1.5;
              border: 1px solid #00a86b;
              border-radius: 5px;
              padding: 0.5rem 1.2rem;
            ">
          월: <span th:text="${질문1}">CSS Flexbox와 Grid의 차이점과 사용 사례에 대해 설명해주세요</span>
        </p>
        <p style="
              font-size: 15px;
              background-color: #F5FAF8;
              color: #2b2b2b;
              line-height: 1.5;
              border: 1px solid #00a86b;
              border-radius: 5px;
              padding: 0.5rem 1.2rem;
            ">
          화: <span th:text="${질문2}">CSS Flexbox와 Grid의 차이점과 사용 사례에 대해 설명해주세요</span>
        </p>
        <p style="
              font-size: 15px;
              background-color: #F5FAF8;
              color: #2b2b2b;
              line-height: 1.5;
              border: 1px solid #00a86b;
              border-radius: 5px;
              padding: 0.5rem 1.2rem;
            ">
          수: <span th:text="${질문3}">CSS Flexbox와 Grid의 차이점과 사용 사례에 대해 설명해주세요</span>
        </p>
        <p style="
             font-size: 15px;
              background-color: #F5FAF8;
              color: #2b2b2b;
              line-height: 1.5;
              border: 1px solid #00a86b;
              border-radius: 5px;
              padding: 0.5rem 1.2rem;
            ">
          목: <span th:text="${질문4}">CSS Flexbox와 Grid의 차이점과 사용 사례에 대해 설명해주세요</span>
        </p>
        <p style="
             font-size: 15px;
              background-color: #F5FAF8;
              color: #2b2b2b;
              line-height: 1.5;
              border: 1px solid #00a86b;
              border-radius: 5px;
              padding: 0.5rem 1.2rem;
            ">
          금: <span th:text="${질문5}">CSS Flexbox와 Grid의 차이점과 사용 사례에 대해 설명해주세요</span>
        </p>
      </div>
      <p style="
            font-size: 14px;
            color: #888888;
            text-align: center;
            word-break: keep-all;
            line-height: 1.5;
            margin: 20px 0 20px 0;
          ">
        아래 버튼을 눌러 이번 주차 질문들의 답변을 확인해 보세요!
      </p>
      <a th:href="@{https://www.maeil-mail.kr/question/{id}(id = ${questionId})}" style="
              display: inline-block;
              padding: 15px 35px;
              background-color: #00a86b;
              color: white;
              text-decoration: none;
              border-radius: 30px;
              font-size: 18px;
              font-weight: 600;
              cursor: pointer;
            ">
        답변 확인
      </a>
      <table role="presentation" style="width: 100%; border-collapse: collapse;">
        <tr style="height: 5rem"></tr>
        <tr>
          <td align="right"
            style="margin-top: 5rem; font-size: 14px; padding-left: 1rem; color: #888888; width: auto; white-space: nowrap;">
            <a th:href="@{https://www.maeil-mail.kr/question/mine/{email}(email = ${email})}" style="
              color: #888888;
              text-decoration: none;
              ">
              📮
              <div style="
              display: inline;
                cursor: pointer;
                text-decoration: underline;
                text-underline-offset: 3px;
                text-decoration-thickness: 0.3px;
                ">
                질문 모아보기
              </div>
            </a>
            &nbsp;
            <span>|</span>
            &nbsp;
            <a style="
            color: #888888;
            text-decoration: none;
            " href="https://www.maeil-mail.kr/setting?email=이메일&token=토큰" target="_blank">
              <div style="
              display: inline;
              cursor: pointer;
              text-decoration: underline;
              text-underline-offset: 3px;
              text-decoration-thickness: 0.3px;
              ">
                설정
              </div>
            </a>
            &nbsp;
            <span>|</span>
            &nbsp;
            <a th:href="@{https://www.maeil-mail.kr/unsubscribe(email=${email}, token=${token})}" target="_blank" style="
            color: #888888;
            text-decoration: none;
            ">
              <div style="
              display: inline;
              cursor: pointer;
              text-decoration: underline;
              text-underline-offset: 3px;
              text-decoration-thickness: 0.3px;
              ">
                구독 해지
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
